services:
  bot:
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    env_file:
      - ./.env
    volumes:
      - ./data/:/app/data

  redis:
    image: redis:8.4-alpine
    restart: unless-stopped
    ports:
      - "6379:6379"
    env_file:
      - ./.env
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
